<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleaespa.css')}}">
    <title>aespa</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <h1>aespa</h1>
                <p>
                    Aespa is a South Korean girl group formed by SM Entertainment. The group debuted in 2020 and consists of four members: Karina, Giselle, Winter, and Ningning. Aespa gained attention for their unique concept which integrates virtual avatars, known as "æ-members," into their performances and promotions. They have quickly risen to prominence in the K-pop scene, known for their energetic performances, strong vocals, and captivating stage presence.</p>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <img src="static\css/aespa11.jpg">
                <h4>Aespa Becomes First Female Group In 2021 To Win Perfect All Kill.</h4>
                <p>    Not only in South Korea, the mini album aespa is ranked first on iTunes in 17 countries as well as QQ Music China and AWA Japan.
                    So far, Savage's music video has seen 91 million views within 15 days of its release.
                    Aespa is the newest girl group released by SM Entertainment, consisting of Karina, Winter, Ningning, and Giselle. They debuted in November 2020 with Black Mamba. 
                    The concept of a group with the presence of an avatar makes Aespa attract public attention. They are said to have their own universe worthy of the Marvel Cinematic Universe.</p>
            </div>

            <div class="card">
                <img src="static\css/drama.jpg">
                <h4>aespa's latest EP 'Drama' sells over 1 million copies in first week.</h4>
                <p>aespa's latest EP "Drama" becomes their third consecutive album to sell over a million copies, with "Drama" selling 1.13 million copies in its first week, according to Hanteo Chart. The EP also topped QQ Music's digital album sales chart and received double platinum certification. aespa introduced experimental events for fans, including a virtual reality concert and launching a metaverse community named "aespa World" on Naver's Zepeto platform in collaboration with Verses. <br>
                </p>
            </div>

            <div class="card">
                <img src="static\css/dramaa.jpg">
                <h4>AESPA BRINGS THE “DRAMA” TO US IN NEW RELEASE.</h4>
                <p>WOW! aespa has done it once again and came through and dropped a jammed-packed album. aespa, an SM Entertainment girl group, dropped their fourth mini-album Drama,
                    and I have been to this all day. The mini-album features seven upbeat dance tracks that are so much fun to listen to. <br>
                DRAMA TRACKLIST: <br>
                <a href="https://youtu.be/3CvJKTChsl4?si=Jc3gx-_jZC9zDzEj">Drama</a> <br>
                <a href="https://youtu.be/AvzoFZsShKg?si=6eRIyAKNi7dezovy">Trick or Trick</a> <br>
                <a href="https://youtu.be/bzX5R8_GqEQ?si=BhQYytltMWpPOSrM">Don’t Blink</a> <br>
                <a href="https://youtu.be/Rbn56x39OLs?si=OBv7WYnyB6POKNXV">Hot Air Balloon</a> <br>
                <a href="https://youtu.be/SsW6Jkf4jQQ?si=JpAoR840oiQWs4eO">YOLO</a> <br>
                <a href="https://youtu.be/ug6y1mQbr8s?si=rU3iqlGZbAtG7Clx">You</a> <br>
                <a href="https://youtu.be/gfk3QLU1x0E?si=ZPE7fHyK6z1Yt5zH">Better Things</a> <br>
                </p>
            </div>
        </div>
    </div>



</body>
</html>