<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleaespa.css')}}">
    <title>Formula 1</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <h1>Formula 1</h1>
                <p>F1, short for Formula 1, is the premier international auto racing series sanctioned by the Fédération Internationale de l'Automobile (FIA). 
                    It features the fastest cars and most skilled drivers competing in high-speed circuits worldwide. Formula 1 cars are single-seater, open-wheel vehicles,
                     known for their cutting-edge technology, aerodynamics, and high-performance engines. 
                    The sport attracts millions of fans globally and is considered one of the most prestigious and glamorous motorsport events.</p>
        </div>
        <div class="content">
            <div class="card">
                <img src="static\css/IMG_5138.png">
                <h4>GET TO KNOW: Our Class of ‘24 : Logan Sargeant</h4>
                <p>
                    At just 23, Logan, a rising American talent in Formula 1, made history in 2023, becoming the first American driver to compete in a Grand Prix weekend since 2015 and the first full-time American driver since 2007. Hailing from Florida, Logan's journey from karting champion to Formula 1 points scorer in just a few years has captured the attention of fans worldwide, signaling a new era of American interest in the sport.
                </p>
            </div>

            <div class="card">
                <img src="static\css/mc.jpg">
                <h4>McLaren CEO Anticipates Shift in Dynamics After Max Verstappen Defeat.</h4>
                <p>Following the predictable 2023 season dominated by Max Verstappen's consistent victories, McLaren CEO Zak Brown expresses confidence in an upcoming shift in the sport's landscape, anticipating a new era unlike anything witnessed before once the three-time world champion is defeated.
                    All hopes rely on the teams that ended up having the top three or four fastest cars toward the end of last year, apart from Red Bull. After all, a shift in the dynamics is the need of the hour for fans looking forward to experiencing close racing.
                    Several teams displayed impressive firepower throughout the year, but none maintained consistency. For example, Aston Martin won many podiums in the first half of the season but later on the team struggled to fight mid-field.
                </p>
            </div>

            <div class="card">
                <img src="static\css/tag.png">
                <h4>Partnership Extended: TAG Heuer and Oracle Red Bull Racing Go Full Speed Into the Future
                </h4>
                <p>
                    Throughout the years, TAG Heuer and Oracle Red Bull Racing have celebrated significant chapters in the annals of Formula 1. 
                    These remarkable moments include iconic races like the revered Monaco Grand Prix, widely acknowledged as the crown jewel of the season. Notably, the partnership reached new heights with the jubilant celebration of Max Verstappen's driver championship title in Qatar and Oracle Red Bull Racing's acquisition of their sixth Constructors' trophy in Suzuka. Since then, Verstappen has not stopped grabbing victories, 
                    marking each triumphant moment alongside Oracle Red Bull Racing.  <br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>