<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleaespa.css')}}">
    <title>Liverpool</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <h1>Liverpool</h1>
                <p>                 
                    The Liverpool Football Team, commonly known as Liverpool FC, is a professional football club based in Liverpool, England.
                    Established in 1892, Liverpool FC competes in the English Premier League, which is the top tier of English football. 
                    The club has a rich history and is one of the most successful clubs in English football, having won numerous domestic and international trophies,
                    including multiple league titles, FA Cups, League Cups, and UEFA Champions League titles. 
                    Liverpool FC is known for its passionate fanbase, iconic stadium (Anfield), and renowned players throughout its history.
                </p>
        </div>
        <div class="content">
            <div class="card">
                <img src="static\css/liver1.png">
                <h4>Confirmed Liverpool line-up v Burnley
                </h4>
                <p>
                    Wataru Endo starts for Liverpool in today's Anfield encounter with Burnley.
                    The midfielder is restored to the line-up for the Premier League clash following his return from Asian Cup duty with Japan earlier this week.
                    The Reds make a total of five changes from last weekend’s fixture at Arsenal, with Caoimhin Kelleher, Darwin Nunez, Andy Robertson and Jarell Quansah also coming into the XI.
                    Alisson Becker and Joe Gomez miss out due to illness, but Kostas Tsimikas is back among the substitutes.
                    Liverpool: Kelleher, Endo, Van Dijk, Diaz, Nunez, Mac Allister, Jones, Jota, Robertson, Alexander-Arnold, Quansah.
                    Subs: Adrian, Mrozek, Gakpo, Elliott, Tsimikas, Gravenberch, Clark, McConnell, Koumas.
                    Jürgen Klopp 'blamed' by Vincent Kompany as Liverpool might have just done Arsenal a favor
                </p>
            </div>

            <div class="card">
                <img src="static\css/liver2.png">
                <h4>
                    Jürgen Klopp 'blamed' by Vincent Kompany as Liverpool might have just done Arsenal a favor
                </h4>
                <p>
                    The Liverpool Football Team, commonly known as Liverpool FC, is a professional football club based in Liverpool, England. Established in 1892, Liverpool FC competes in the English Premier League, which is the top tier of English football. The club has a rich history and is one of the most successful clubs in English football, having won numerous domestic and international trophies, including multiple league titles, FA Cups, League Cups, and UEFA Champions League titles. 
                    Liverpool FC is known for its passionate fanbase, iconic stadium (Anfield), and renowned players throughout its history.
                </p>
            </div>

            <div class="card">
                <img src="static\css/liver3.png">
                <h4>
                    Darwin Núñez finishes off Burnley in front of Liverpool’s record Anfield crowd
                </h4>
                <p>
                    Liverpool reclaimed the Premier League's top spot in a historic match at Anfield, showcasing their title-chasing determination despite setbacks. Missing key players like Alisson and Alexander-Arnold, the team displayed resilience with Curtis Jones stepping up and goalkeeper Caoimhín Kelleher making crucial saves. Despite Burnley's challenge, Liverpool's front three, aided by a record-breaking crowd, secured victory, earning praise from manager Jürgen Klopp for their character and resolve.
                </p>
        </div>
    </div>
</body>
</html>