<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylelogin.css')}}">
    <title>Sign Up : SPACE</title>
</head>
<body>
    <div class="wrapper">
        <h1>Log In</h1>
        <form action="#">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </form>
        <button>Log In</button>
        <div class="member">
            New to Space? <a href="{{ url_for('register') }}">
                Register Now
            </a>
        </div>
    </div>
</body>
</html>
