<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:opsz,FILL,GRAD@24,400,0,0">
</head>
    <body>
        <header>
            <nav class="navbar">
            <a href="#" class="logo">Space<span>.</span></a>
            <ul class="menu-link">
                <span id="close-btn" class="material-symbols-outlined">close</span>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
            <span id="menu-btn" class="material-symbols-outlined">menu</span>
            </nav>
        </header>

        <section class="hero-section">
            <div class="content">
                <h1>Chat Connect and Savor the Experience in Your Space.</h1>
                <p>
                    Step into the Galaxy of Real-Time Connection: Your Live Chat Oasis. Immerse yourself in dynamic conversations, connect instantly, 
                    and make every moment count in Your Personalized Chat Universe.
                </p>
                <button>Join a Space Now</button>
            </div>
        </section>

        <script>
            const header = document.querySelector("header");
            const menuBtn = document.querySelector("#menu-btn");
            const CloseBtn = document.querySelector("#close-btn");
            
            menuBtn.addEventListener("click", () => {
                header.classList.toggle("show-mobile-menu");
            });
            
            CloseBtn.addEventListener("click", () => {
                menuBtn.click();
            });
        </script>

            <a href="{{ url_for('login') }}">Login</a><br>
            <a href="{{ url_for('register') }}">Register</a><br>
    </body>
</html>